# R Environment Variables
.Renviron

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/

# Temporary files created by R markdown
*.utf8.md
*.knit.md
Rplots*.pdf

# Archived files
*.rar
*.tar.gz

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# cache directories
*_cache/
/cache/

# input + output directories
data/
data
outputs/
outputs

# other files
README.html
